{% extends "base.html" %}


  {% block html_title%}
      {% if is_staff %}
          Moderate Tweets
      {% else %}
          Tweet History
      {% endif %}
  {% endblock %} 


  {% block nav_menu_block %}
      {% include "logged_in_menu.html" %}
  {% endblock %}



  {% block container_block %}
    <div class="container">


      <!-- Example row of columns -->
      <div class="row">
        <div class="span10 offset1">


          <table id="tweetlistTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <td colspan="4">
                  <span class="text-center">
                      <strong>
                          {% if is_staff %}
                              All Tweets History
                          {% else %}
                            Tweet History
                          {% endif %}
                      </strong>
                  </span>
                </td>
              </tr>
              <tr>
                <!-- yes an inline style sin was performed below-->
                <th style="width: 65%">Tweet&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
                <th>User</th>
                <th>Status</th>
                <th>Date Created</th>
              </tr>
            </thead>

            <tbody id="tab-2-tbody">
            <tbody>
          </table>

        </div>
        <div class="span0 offset1">
          &nbsp;
        </div>
      </div>

    </div> <!-- /container -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block js_script_block %}
    <script src="{{STATIC_URL}}/js/underscore-min.js"></script>  
    <script src="{{STATIC_URL}}/js/backbone-min.js"></script>  
    <script src="{{STATIC_URL}}/js/tweets_list.js"></script>

    <script src="{{STATIC_URL}}/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}/bootstrap/js/bootstrap-modal.js"></script>
    {% endblock %}